.App {
  text-align: center;
  font-family: 'TATSanaSuksa';
  font-size: 16px;
  color: #333333;
  line-height: 1.8;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

@font-face {
  font-family: 'TATSanaChon';
  src: url(./assets/fonts/TATSanaChon-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'TATSanaSuksa';
  src: url(./assets/fonts/TATSanaSuksa-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'TATSanaSuksaBold';
  src: url(./assets/fonts/TATSanaChon-Bold.woff2) format('woff2');
}
